mysql_deploy
mysql_deploy/*
mitogen3.24
mitogen3.24/*
manifests
manifests/*
rolehub/mitogen
rolehub/mitogen/*
rolehub/mitogen3.24
rolehub/mitogen3.24/*
rolehub/roles/observability_setup/files/dashboards/systemd.json
.vscode
.vscode/*
