# # ======================== Filebeat Inputs =========================
filebeat.inputs:

- type: log
  enabled: true
  paths:
    - /var/log/syslog*         # Debian/Ubuntu
  fields_under_root: true      
  fields:
    event.dataset: "syslog"
    log_type: "syslog"

filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/auth.log
      - /var/log/syslog
      - /var/log/kern.log

    processors:
      - add_fields:
          when.contains:
            log.file.path: "auth.log"
          target: ""
          fields:
            event.dataset: "authlog"
            log_type: "auth"

      - add_fields:
          when.contains:
            log.file.path: "syslog"
          target: ""
          fields:
            log_type: "syslog"
            event.dataset: "syslog"


      - add_fields:
          when.contains:
            log.file.path: "kern.log"
          target: ""
          fields:
            log_type: "kernel"
            event.dataset: "kernel"


fields_under_root: true
fields:
  service.name: "{{ SERVICE_HOSTNAMES }}"   
  server_name: "{{ SERVICE_HOSTNAMES }}"

setup.ilm.enabled: false
setup.template.enabled: false

output.elasticsearch:
  hosts: ["{{ ELASTICSEARCH_HOSTNAME_VAR }}"]
  username: "{{ ELASTIC_USERNAME_MASKED }}"
  password: "{{ ELASTIC_PASSWORD_MASKED }}"
  index: "logs-%{[log_type]}-%{+yyyy.MM.dd}"
  ssl.verification_mode: none


setup.kibana:
  host: "{{ KIBANA_PUBLIC_URL_VAR }}"
  username: "{{ ELASTIC_USERNAME_MASKED }}"
  password: "{{ ELASTIC_PASSWORD_MASKED }}"
