---

server.name: kibana
server.host: "0"
server.publicBaseUrl: "https://{{ SUBDOMAIN_KIBANA }}.{{ DOMAIN }}"
elasticsearch.hosts: [ "{{ ELASTICSEARCH_HOSTNAME_VAR }}" ]
xpack.monitoring.ui.container.elasticsearch.enabled: true

## X-Pack security credentials
elasticsearch.username: {{ ELASTIC_USERNAME_MASKED }}
elasticsearch.password: {{ ELASTIC_PASSWORD_MASKED }}